{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license https://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 *
 * @param Domain\Urls\Entities\Url url
 * @param int    CODE_MIN      Minimum code length for human entered codes
 * @param int    CODE_MAX      Maximum code length for human entered codes
 * @param string pattern       Valid regex pattern for code input
#}
<div class="mb-3">
    <label class="form-label" for="title">Title</label>
    <input name="title" id="title" value="{{ url.title }}" class="form-control"/>
</div>
<div class="mb-3">
    <label class="form-label" for="original">Paste a long URL</label>
    <textarea name="original" id="original" class="form-control" required="true"
        placeholder="Example: http://super-long-link.com/shorten-it">{{ url.original }}</textarea>
</div>
<div class="mb-3">
    <label class="form-label" for="code">Alias</label>
    <div class="input-group">
        <span class="input-group-text" id="alias-input">{{ BASE_URL }}/</span>
        <input name="code" id="code" type="text" value="{{ url.code }}"
            title="Must only contain numbers and letters"
            size="{{ CODE_MAX }}" minlength="{{ CODE_MIN }}" maxlength="{{ CODE_MAX }}"
            class="form-control" aria-describedby="alias-input alias-help"    />
    </div>
    <div class="form-text" id="alias-help">Use only numbers and letters.</div>
</div>
<div class="mb-3">
    <input class="form-check-input" aria-describedby="preview-help" name="preview" id="preview" type="checkbox" value="1" {{ url.preview ? 'checked="true"' : '' }}/>
    <label class="form-check-label" for="preview">Enable Destination Preview</label>
    <div class="form-text" id="preview-help">
        Unchecked: the URL or QR Code takes folks straight to the destination URL.
    </div>
    <div class="form-text" id="preview-help">
        Checked: the URL or QR Code scanned takes folks to a Bton preview page that shows the original URL, the shortened URL, and QR Code.
    </div>
</div>
