<head>
    <link rel="stylesheet" type="text/css" href="{{ BASE_URI }}/css/screen-{{ VERSION }}.css" />
    <link rel="stylesheet" type="text/css" href="{{ BASE_URI }}/COB/css/screen-{{ VERSION }}.css" />
    <title>{{ title is defined ? title : APPLICATION_NAME }}</title>
    <script type="text/javascript">
        var BASE_URL = '{{ BASE_URL }}',
            BASE_URI = '{{ BASE_URI }}';
    </script>
</head>
