{#
 * @copyright 2023 City of Bloomington, Indiana
 * @license https://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 *
 * @param string code
 * @param string original
 * @param bool   preview
 * @param int    CODE_LENGTH   Short URL codes must be exactly this length
 * @param string CODE_PATTERN  Valid regex pattern for code input
#}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section id="addForm">
    <header>
        <h2>Shorten a URL</h2>
    </header>
    <form method="post">
        <fieldset>
            <div>
                <input name="preview" id="preview" type="checkbox" value="1" {{ preview ? 'checked="true"' : '' }} />
                <label  for="preview">Enable Destination Preview</label>
            </div>
            <div>
	            <label  for="code">Code</label>
	            <input name="code" id="code" value="{{ code }}"
                           title="Must only contain numbers and letters"
                         pattern="{{ CODE_PATTERN ~ '{' ~ CODE_LENGTH ~ '}' }}"
	                        size="{{ CODE_LENGTH }}"
	                   minlength="{{ CODE_LENGTH }}"
	                   maxlength="{{ CODE_LENGTH }}" />
                <div class="help">only allows numbers and letters</div>
            </div>
            <div>
	            <label  for="original">Destination Url</label>
	            <textarea name="original" id="original">{{ original }}</textarea>
            </div>
            <button type="submit">Save</button>
        </fieldset>
    </form>
</section>
{% endblock %}
