{#
 * @copyright 2023 City of Bloomington, Indiana
 * @license https://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 *
 * @param string code
 * @param string original
 * @param bool   preview
 * @param int    CODE_LENGTH   Short URL codes must be exactly this length
#}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>
    <header>
        <h2>Shorten a URL</h2>
    </header>
    <form method="post">
        <fieldset>
            <div>
	            <label  for="code">Code</label>
	            <input name="code" id="code" value="{{ code }}"
	                        size="{{ CODE_LENGTH }}"
	                   minlength="{{ CODE_LENGTH }}"
	                   maxlength="{{ CODE_LENGTH }}" />
            </div>
            <div>
	            <label  for="original">URL</label>
	            <input name="original" id="original" value="{{ original }}" />
            </div>
            <div>
                <label  for="preview">Preview</label>
                <input name="preview" id="preview" type="checkbox" value="1" {{ preview ? 'checked="true"' : '' }} />
            </div>
            <button type="submit">Save</button>
        </fieldset>
    </form>
</section>
{% endblock %}
