{#
 * @copyright 2023 City of Bloomington, Indiana
 * @license https://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 *
 * @param array  urls          Search Results
 * @param array  usernames     List of all usernames
 *
 * -- Pagination parameters
 * @param int    total
 * @param int    itemsPerPage
 * @param int    currentPage
 *
 * -- Search Parameters
 * @param int    id
 * @param string username
 * @param string code
 * @param string original
#}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}

{% block content %}
<section>
    <header>
        <h1>Find URLs</h1>
    </header>
    <form method="get">
        <fieldset>
            <div>
	            <label for="code">Code</label>
	            <input name="code" id="code" value="{{ code }}" />
            </div>
            <div>
	            <label for="original">Original</label>
	            <input name="original" id="original" value="{{ original }}" />
            </div>
            <div>
                <label  for="username">Username</label>
                <select name="username" id="username"><option value=""></option>
                {% for u in usernames %}
                    <option {% if u==username %}selected="selected"{% endif %}>{{ u }}</option>
                {% endfor %}
                </select>
            </div>
            <button type="submit" class="search">Search</button>
        </fieldset>
    </form>

    {% if urls %}
    <table>
        <thead>
            <tr><th>Code</th>
                <th>Original URL</th>
                <th>Short URL</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}{% set uri = uri('urls.view', {'id':url.id}) %}
            <tr><td><a href="{{ uri('urls.view', {'id':url.id}) }}">{{ url.code }}</a></td>
                <td><a href="{{ url.original }}">{{ url.original }}</a></td>
                <td><a href="{{ url('urls.redirect', {'code':url.code}) }}">{{ url('urls.redirect', {'code':url.code}) }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No URLs found.</p>
    {% endif %}

    {# Pagination #}
    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
