{#
 * @copyright 2023 City of Bloomington, Indiana
 * @license https://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 *
 * @param array  urls          Search Results
 * @param array  usernames     List of all usernames
 * @param array  sorts         List of valid sorting parameters
 *
 * -- Pagination parameters
 * @param int    total
 * @param int    itemsPerPage
 * @param int    currentPage
 * @param string order
 *
 * -- Search Parameters
 * @param int    id
 * @param string username
 * @param string code
 * @param string original
 * @param string query
#}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}

{% block content %}
<section>
    <header>
        <h1>Find URLs</h1>
    </header>
    <form method="get">
        <fieldset>
            <label for="query">Query</label>
            <input name="query" id="query" value="{{ query }}" placeholder="Search original or code"/>
            <button type="submit" class="search">Search</button>
        </fieldset>
        <details {% if code or original or username %}open="true"{% endif %}>
            <summary>Advanced Search</summary>
            <fieldset>
                <div>
                    <label  for="code">Code</label>
                    <input name="code" id="code" value="{{ code }}"
                                size="{{ CODE_LENGTH }}"
                           maxlength="{{ CODE_LENGTH }}" />
                </div>
                <div>
                    <label for="original">Original</label>
                    <input name="original" id="original" value="{{ original }}" />
                </div>
                <div>
                    <label   for="username">Username</label>
                    <select name="username" id="username"><option value=""></option>
                    {% for u in usernames %}
                        <option {% if u==username %}selected="selected"{% endif %}>{{ u }}</option>
                    {% endfor %}
                    </select>
                </div>
                <button type="submit" class="search">Search</button>
            </fieldset>
        </details>
        <fieldset>
            <div>
                <label   for="sort">Sort</label>
                <select name="sort" id="sort">
                {% for s in sorts %}
                    <option value="{{ s }}" {% if s==order %}selected="true"{% endif %}>
                    {{ _('sort ' ~ s) }}
                    </option>
                {% endfor %}
                </select>
            </div>
        </fieldset>
    </form>

    {% if urls %}
    {% for url in urls %}{% set uri = uri('urls.view', {'id':url.id}) %}
    <article>
        <header><a href="{{ uri('urls.view', {'id':url.id}) }}">{{ url.code }}</a></header>
        <div><a href="{{ url('urls.redirect', {'code':url.code}) }}">{{ url('urls.redirect', {'code':url.code}) }}</a></div>
        <div><a href="{{ url.original }}">{{ url.original }}</a></div>
        <div><strong>Created: </strong>  {{ url.created.format('n/d/Y') }}
              <strong>Updated: </strong> {{ url.updated.format('n/d/Y') }}
              <strong>User:</strong> {{ url.username }}
              <strong>Hits: </strong> {{ url.hits }}
        </div>
    </article>
    {% endfor %}
    {% else %}
        <p>No URLs found.</p>
    {% endif %}

    {# Pagination #}
    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
