{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}

{% block content %}
<section>
    <header>
        <h1> Search url </h1>
        <h3>TODO: pagination </h3>
    </header>
    <form method="get">
        <fieldset>
            <div>
	            <label for="code">Code</label>
	            <input name="code" id="code" value="{{ code }}" />
            </div>
            <div>
	            <label for="original">Original</label>
	            <input name="original" id="original" value="{{ original }}" />
            </div>
            <button type="submit" class="search">Search</button>
        </fieldset>
    </form>

    {% if url %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Owner</th>
                <th>Code</th>
                <th>Original URL</th>
            </tr>
        </thead>
        <tbody>
            {% for url in url %}
            <tr>
                <td>{{ url.id }}</td>
                <td>{{ url.person_id }}</td>
                <td>{{ url.code }}</td>
                <td><a>{{ url.original }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No URLs found.</p>
    {% endif %}

    {# Pagination #}
    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
