{#
 * @copyright 2023 City of Bloomington, Indiana
 * @license https://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 *
 * @param array  urls          Search Results
 * @param array  usernames     List of all usernames
 * @param array  sorts         List of valid sorting parameters
 *
 * -- Pagination parameters
 * @param int    total
 * @param int    itemsPerPage
 * @param int    currentPage
 * @param string order
 *
 * -- Search Parameters
 * @param int    id
 * @param string username
 * @param string code
 * @param string original
 * @param bool   preview
 * @param string query
#}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}

{% block content %}
<section id="findForm">
    <header>
        <h2>Find URLs</h2>
    </header>
    <form method="get">
        <fieldset>
            <label for="query">Query</label>
            <input name="query" id="query" value="{{ query }}" placeholder="Search original or code"/>
            <button type="submit" class="search">Search</button>
        </fieldset>
        <details {% if code or original or username or preview or (preview is same as(false)) %}open="true"{% endif %}>
            <summary>Advanced Search</summary>
            <fieldset>
                <div>
                    <label  for="code">Code</label>
                    <input name="code" id="code" value="{{ code }}"
                                size="{{ CODE_LENGTH }}"
                           maxlength="{{ CODE_LENGTH }}" />
                </div>
                <div>
                    <label for="original">Destination Url</label>
                    <input name="original" id="original" value="{{ original }}" />
                </div>
                <div>
                    <label   for="username">Username</label>
                    <select name="username" id="username" onchange="this.form.submit();">
                        <option value=""></option>
                    {% for u in usernames %}
                        <option {% if u==username %}selected="selected"{% endif %}>{{ u }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div>
                    <label   for="preview">Preview</label>
                    <select name="preview" onchange="this.form.submit();">
                        <option value=""></option>
                        <option value="1" {{ preview ? 'selected="true"' : '' }}>Yes</option>
                        <option value="0" {{ preview is same as(false) ? 'selected="true"' : '' }}>No</option>
                    </select>
                </div>
                <button type="submit" class="search">Search</button>
                <a href="{{ uri('urls.index') }}" class="cancel button">Reset</a>
            </fieldset>
        </details>
        <fieldset>
            <div>
                <label   for="sort">Sort</label>
                <select name="sort" id="sort" onchange="this.form.submit();">
                {% for s in sorts %}
                    <option value="{{ s }}" {% if s==order %}selected="true"{% endif %}>
                    {{ _('sort ' ~ s) }}
                    </option>
                {% endfor %}
                </select>
            </div>
        </fieldset>
    </form>
    {# Pagination #}
    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(total, itemsPerPage, currentPage) }}
    {% endif %}

    {% if urls %}
    {% set sorturl      = current_url() %}
    {% set current_sort = sorturl.__get('sort')|split(' ') %}
    <p>Click code value to see URL details and QR code.</p>

    {% for url in urls %}{% set uri = uri('urls.view', {'id':url.id}) %}
    <article>
        <header>
            <h2><a href="{{ uri('urls.view', {'id':url.id}) }}">{{ url.code }}</a></h2>
            <h3>{{ url.title }}</h3>
            <h3 aria-label="destination url"><a href="{{ url.original }}">{{ url.original }}</a></h3>
            <h3 aria-label="shortened url"><a href="{{ url('urls.redirect', {'code':url.code}) }}">{{ url('urls.redirect', {'code':url.code}) }}</a></h3>
        </header>

        <div>
        	<strong>Created:</strong> {{ url.created.format('n/d/Y') }}
            <strong>Updated:</strong> {{ url.updated.format('n/d/Y') }}
            <strong>User:</strong>    {{ url.username }}
            <strong>Hits:</strong>    {{ url.hits }}
        </div>
    </article>
    {% endfor %}

    {% else %}
        <p>No URLs found.</p>
    {% endif %}

    {# Pagination #}
    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
