{#

 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}

{% block content %}



<section>
    <header>
        <h1> Search url </h1>
        <h3>TODO:</h3>
    </header>
    <form method="get">
        <fieldset>
            <div>
	            <label for="code">Code</label>
	            <input name="code" id="code" value="{{ code }}" />
            </div>
            <div>
	            <label for="original">Original</label>
	            <input name="original" id="original" value="{{ original }}" />
            </div>
            <h1>{{ url }}</h1>
            <button type="submit" class="search">Search</button>
        </fieldset>
    </form>

    {% if url %}
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Original URL</th>
            </tr>
        </thead>
        <tbody>
            {% for url in url %}
            <tr>
                <td>{{ url.code }}</td>
                <td>{{ url.original }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No URLs found.</p>
    {% endif %}

</section>




{% endblock %}