{#
 * @copyright 2023 City of Bloomington, Indiana
 * @license https://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 *
 * @param array  urls          Search Results
 * @param array  usernames     List of all usernames
 * @param array  sorts         List of valid sorting parameters
 *
 * -- Pagination parameters
 * @param int    total
 * @param int    itemsPerPage
 * @param int    currentPage
 * @param string order
 *
 * -- Search Parameters
 * @param int    id
 * @param string username
 * @param string code
 * @param string original
 * @param bool   preview
 * @param string query
#}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}

{% block content %}
<section id="findForm">
    <header>
        <h2>Find URLs</h2>
    </header>
    <form method="get">
        <fieldset>
            <label for="query">Query</label>
            <input name="query" id="query" value="{{ query }}" placeholder="Search original or code"/>
            <button type="submit" class="search">Search</button>
        </fieldset>
        <details {% if code or original or username or preview or (preview is same as(false)) %}open="true"{% endif %}>
            <summary>Advanced Search</summary>
            <fieldset>
                <div>
                    <label  for="code">Code</label>
                    <input name="code" id="code" value="{{ code }}"
                                size="{{ CODE_LENGTH }}"
                           maxlength="{{ CODE_LENGTH }}" />
                </div>
                <div>
                    <label for="original">Original</label>
                    <input name="original" id="original" value="{{ original }}" />
                </div>
                <div>
                    <label   for="username">Username</label>
                    <select name="username" id="username"><option value=""></option>
                    {% for u in usernames %}
                        <option {% if u==username %}selected="selected"{% endif %}>{{ u }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div>
                    <label   for="preview">Preview</label>
                    <select name="preview">
                        <option value=""></option>
                        <option value="1" {{ preview ? 'selected="true"' : '' }}>Yes</option>
                        <option value="0" {{ preview is same as(false) ? 'selected="true"' : '' }}>No</option>
                    </select>
                </div>
                <button type="submit" class="search">Search</button>
                <a href="{{ uri('urls.index') }}" class="cancel button">Reset</a>
            </fieldset>
        </details>
    </form>
    {# Pagination #}
    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(total, itemsPerPage, currentPage) }}
    {% endif %}

    {% if urls %}
    {% set sorturl      = current_url() %}
    {% set current_sort = sorturl.__get('sort')|split(' ') %}
    <table>
        <thead>
            <tr>
                <th>Preview</th>
                {{ sorturl.__set('sort', 'code') }}
                {% if current_sort[0]=='code' and current_sort[1] is not defined %}{{ sorturl.__set('sort', 'code desc') }}{% endif %}
                <th><a href="{{ sorturl }}">Code</a></th>

                {{ sorturl.__set('sort', 'created') }}
                {% if current_sort[0]=='created' and current_sort[1] is not defined %}{{ sorturl.__set('sort', 'created desc') }}{% endif %}
                <th><a href="{{ sorturl }}">Created</a></th>

                {{ sorturl.__set('sort', 'updated') }}
                {% if current_sort[0]=='updated' and current_sort[1] is not defined %}{{ sorturl.__set('sort', 'updated desc') }}{% endif %}
                <th><a href="{{ sorturl }}">Updated</a></th>

                {{ sorturl.__set('sort', 'username') }}
                {% if current_sort[0]=='username' and current_sort[1] is not defined %}{{ sorturl.__set('sort', 'username desc') }}{% endif %}
                <th><a href="{{ sorturl }}">Username</a></th>

                {{ sorturl.__set('sort', 'hits') }}
                {% if current_sort[0]=='hits' and current_sort[1] is not defined %}{{ sorturl.__set('sort', 'hits desc') }}{% endif %}
                <th><a href="{{ sorturl }}">Hits</a></th>

                {{ sorturl.__set('sort', 'original') }}
                {% if current_sort[0]=='original' and current_sort[1] is not defined %}{{ sorturl.__set('sort', 'original desc') }}{% endif %}
                <th><a href="{{ sorturl }}">Destination Url</a></th>
            </tr>
        </thead>
        <tbody>
        {% for url in urls %}{% set uri = uri('urls.view', {'id':url.id}) %}
        <tr><td>{{ url.preview ? '✓' : '' }}</td>
            <td><a href="{{ uri('urls.view', {'id':url.id}) }}">{{ url.code }}</a></td>
            <td>{{ url.created.format('n/d/Y') }}</td>
            <td>{{ url.updated.format('n/d/Y') }}</td>
            <td>{{ url.username }}</td>
            <td>{{ url.hits }}</td>
            <td><a href="{{ url.original }}">Destination Url</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No URLs found.</p>
    {% endif %}

    {# Pagination #}
    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
