{#
 * @copyright 2023 City of Bloomington, Indiana
 * @license https://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 *
 * @param array  urls          Search Results
 *
 * -- Pagination parameters
 * @param int    total
 * @param int    itemsPerPage
 * @param int    currentPage
 *
 * -- Search Parameters
 * @param int    id
 * @param string username
 * @param string code
 * @param string original
#}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}

{% block content %}
<section>
    <header>
        <h1> Search url </h1>
        <h3>TODO: pagination </h3>
    </header>
    <form method="get">
        <fieldset>
            <div>
	            <label for="code">Code</label>
	            <input name="code" id="code" value="{{ code }}" />
            </div>
            <div>
	            <label for="original">Original</label>
	            <input name="original" id="original" value="{{ original }}" />
            </div>
            <button type="submit" class="search">Search</button>
        </fieldset>
    </form>

    {% if urls %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Owner</th>
                <th>Code</th>
                <th>Original URL</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}{% set uri = uri('urls.view', {'id':url.id}) %}
            <tr><td>{{ url.id }}</td>
                <td>{{ url.username }}</td>
                <td><a href="{{ uri          }}">{{ url.code     }}</a></td>
                <td><a href="{{ url.original }}">{{ url.original }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No URLs found.</p>
    {% endif %}

    {# Pagination #}
    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
