{#
 * @copyright 2023 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Domain\Urls\Entities\Url url
#}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section id="info">
    {% if isAllowed('urls', 'update', url) %}
    <header>
        <nav>
            <a href="{{ uri('urls.update', {'id':url.id}) }}" class="button edit">{{ _('edit'  ) }}</a>
            <a href="{{ uri('urls.delete', {'id':url.id}) }}" class="button delete">{{ _('delete') }}</a>
        </nav>
    </header>
    {% endif %}
    <table>
        <tr><th>ID</th>      <td>{{ url.id       }}</td></tr>
        <tr><th>code</th>    <td>{{ url.code     }}</td></tr>
        <tr><th>original</th><td><a href="{{ url.original }}">{{ url.original }}</a></td></tr>
        <tr><th>username</th><td>{{ url.username }}</td></tr>
        <tr><th>created</th> <td>{{ url.created.format('c') }}</td></tr>
        <tr><th>updated</th> <td>{{ url.updated.format('c') }}</td></tr>
        <tr><th>hits</th>    <td>{{ url.hits }}</td></tr>
        <tr><th>Preview</th> <td>{{ url.preview ? '✓' : '' }}</td></tr>
    </table>

    <img src="{{ url('urls.qrcode', {'code':url.code} )}}" />
    
</section>
{% endblock %}
