{#
 * @copyright 2023 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param string id
 * @param string firstname
 * @param string lastname
 * @param string email
 * @param string title
#}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>
    <h1>Edit URL</h1>
    <form method="post">
        <fieldset>
            <input type="hidden" name="id" value="{{ id }}" />

            <div>
                <label  for="code">Code:</label>
                <input name="code" id="code" value="{{ code }}" required
	                        size="{{ CODE_LENGTH }}"
	                   minlength="{{ CODE_LENGTH }}"
	                   maxlength="{{ CODE_LENGTH }}" />
            </div>

            <div>
                <label  for="original">Original:</label>
                <input name="original" id="original" value="{{ original }}" required />
            </div>

            <button type="submit">Save</button>
            <a href="{{ uri('urls.view', {'id':id}) }}">Cancel</a>
        </fieldset>
    </form>
</section>
{% endblock %}
