{#
 * @copyright 2023 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param string id
 * @param string code
 * @param string original
 * @param bool   preview
#}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section id="updateForm">
    <header>
        <h2>Edit URL</h2>
    </header>
    <form method="post">
        <fieldset>
            <input type="hidden" name="id" value="{{ id }}" />

            <div>
                <input name="preview" id="preview" type="checkbox" value="1" {{ preview ? 'checked="true"' : '' }} />
                <label  for="preview">Enable Destination Preview</label>
            </div>
            <div>
                <label  for="code">Code:</label>
                <input name="code" id="code" value="{{ code }}" required
                           title="Must only contain numbers and letters"
                         pattern="{{ CODE_PATTERN ~ '{' ~ CODE_LENGTH ~ '}' }}"
	                        size="{{ CODE_LENGTH }}"
	                   minlength="{{ CODE_LENGTH }}"
	                   maxlength="{{ CODE_LENGTH }}" />
                <div class="help">only allows numbers and letters</div>
            </div>
            <div>
                <label  for="original">Destination Url</label>
                <input name="original" id="original" value="{{ original }}" required />
            </div>

            <button type="submit">Save</button>
            <a href="{{ uri('urls.view', {'id':id}) }}" class="cancel button">Cancel</a>
        </fieldset>
    </form>
</section>
{% endblock %}
